@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    //text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(240,240,240);
}

a{
    color: inherit;
    opacity: 0.8;
    transition: opacity 200ms ease;

    &:hover{
        opacity: 1;
    }
}

.maroon{
    color: rgb(177,42,23);
}
